* {
    background: linear-gradient(antiquewhite, wheat);
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

header img {
    height: 10rem;
}

nav,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    text-align: center;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.imageCult1 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    animation-name: imagechange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-animation-name: imagechange;
    -webkit-animation-duration: 10s;
}

@keyframes imagechange {
    0% {
        background-image: url("/image/bateau.jpg");
    }
    30% {
        background-image: url("/image/chapelle.jpg");
    }
    60% {
        background-image: url("/image/place.jpg");
    }
    100% {
        background-image: url("/image/postovna.jpg");
    }
}

@-webkit-keyframes imagechange {
    0% {
        background-image: url("/image/bateau.jpg");
    }
    50% {
        background-image: url("/image/place.jpg");
    }
    100% {
        background-image: url("/image/postovna.jpg");
    }
}