* {
    background: linear-gradient(antiquewhite, wheat);
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

:root {
    --firstcolor: #F7F4EF;
    --secondcolor: #788402;
    --thirdcolor: #FEAA00;
    --fourthcolor: #342628;
}

.titreDePage::first-letter {
    color: red;
    font-size: 2em;
}

header img {
    height: 10rem;
}

.icone {
    height: 2rem;
    width: auto;
}

nav,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    text-align: center;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.imageCult1 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    animation-name: imagechangecult1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-animation-name: imagechangecult1;
    -webkit-animation-duration: 10s;
}

@keyframes imagechangecult1 {
    0% {
        background-image: url("/image/postovna.jpg");
    }
    30% {
        background-image: url("/image/chapelle.jpg");
    }
    60% {
        background-image: url("/image/place.jpg");
    }
    100% {
        background-image: url("/image/postovna.jpg");
    }
}

@-webkit-keyframes imagechangecult1 {
    0% {
        background-image: url("/image/postovna.jpg");
    }
    30% {
        background-image: url("/image/chapelle.jpg");
    }
    60% {
        background-image: url("/image/place.jpg");
    }
    100% {
        background-image: url("/image/postovna.jpg");
    }
}

.imageCult2 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: scale-down;
    animation-name: imagechangecult2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.445);
    -webkit-animation-name: imagechangecult2;
    -webkit-animation-duration: 10s;
}

@keyframes imagechangecult2 {
    0% {
        background-image: url("/image/lac.jpg");
    }
    50% {
        background-image: url("/image/lakeboat.jpg");
    }
    80% {
        background-image: url("/image/scuba.jpg");
    }
    100% {
        background-image: url("/image/lac.jpg");
    }
}

@-webkit-keyframes imagechangecult2 {
    0% {
        background-image: url("/image/lac.jpg");
    }
    50% {
        background-image: url("/image/lakeboat.jpg");
    }
    80% {
        background-image: url("/image/scuba.jpg");
    }
    100% {
        background-image: url("/image/lac.jpg");
    }
}


/*déclaration d'attributs pour le formulaire et ses enfants*/


/* form {
    font-size: 0.9rem;
    font-weight: bolder;
    color: white;
    border-style: double;
    border-color: white;
    border-width: 0.21em;
    border-radius: 1em;
}

form.formulaire {
    margin-top: 150PX;
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.formulaire {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}

label,
input,
select {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
    width: 45vw;
}

.longueur {
    width: 50vw;
    height: 40px;
} */

.bouton {
    border: 2px;
    border-style: dotted;
    border-radius: 45;
    border-color: red;
    margin: 30px;
    font-size: larger;
    color: var(--fourthcolor);
}