:root {
    --firstcolor: #F7F4EF;
    --secondcolor:#788402;
    --thirdcolor:#FEAA00;
    --fourthcolor:#342628;
  }

  * {
    background: linear-gradient(antiquewhite, wheat);
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}


.banniere {
    background-size:cover;
    height: 200px;
}

nav {display: flex;
    justify-content: center;
    align-items: center;
      background: linear-gradient(var(--marron),var(--olive)); 
     background: linear-gradient(var(--fourthcolor),#2D4B2B);
     background-color: #788402; 
    height: 100px;
}

    


nav a { justify-content: center;
        text-align: center;
        
}


header img {
    height: 10rem;
}

h1 {
    text-align: center;
    color: var(--thirdcolor);
    font-weight: bolder;
    border-left: 2px solid var(--secondcolor);
    margin: 2em;
    margin-left: 62px;
    width: 273px;
}

h1::first-letter{
    font-size: 2em;
    color:var(--secondcolor);
}


footer {
    justify-content: center;
    text-align: center;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.imageCult1 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    animation-name: imagechange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-animation-name: imagechange;
    -webkit-animation-duration: 10s;
}

@keyframes imagechange {
    0% {
        background-image: url("");
    }
    30% {
        background-image: url("");
    }
    60% {
        background-image: url("");
    }
    100% {
        background-image: url("");
    }
}

@-webkit-keyframes imagechange {
    0% {
        background-image: url("");
    }
    50% {
        background-image: url("");
    }
    100% {
        background-image: url("");
    }
}


.imageCult2 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    animation-name: imagechange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-animation-name: imagechange;
    -webkit-animation-duration: 10s;

}
    
   

        

 .imageCult3 {
        width: 100%;
        height: 20rem;
        border-radius: 5%;
        background-repeat: no-repeat;
        object-fit: scale-down;
        animation-name: imagechange;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-animation-name: imagechange;
        -webkit-animation-duration: 10s;
 }