* {
    background: linear-gradient(antiquewhite, wheat);
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}



:root {
    --firstcolor: #F7F4EF;
    --secondcolor:#788402;
    --thirdcolor:#FEAA00;
    --fourthcolor:#342628;
  }

  


.icone {
    height: 2rem;
    width: auto;
}


nav {display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--fourthcolor), var(--fithcolor));
    height: 100px;

}

    


nav a { justify-content: center;
        text-align: center;

}


header img {
    height: 10rem;
}

.titreDePage {
    text-align: center;
    color: var(--thirdcolor);
    font-weight: bolder;
    border-left: 2px solid var(--secondcolor);
    margin: 2em;
    margin-left: 62px;
    width: 273px;
}

.titreDePage::first-letter {
    font-size: 2em;
    color:var(--secondcolor);
}


footer {
    justify-content: center;
    text-align: center;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.imageCult1 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    animation-name: imagechange1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-animation-name: imagechange1;
    -webkit-animation-duration: 10s;
}

@keyframes imagechange1 {
    0% {
        background-image: url("images/mobile/ours.jpg");
    }
    30% {
        background-image: url("images/mobile/abeilles.jpg");
    }
    60% {
        background-image: url("images/mobile/ours.jpg");
    }
    100% {
        background-image: url("images/mobile/abeilles.jpg");
    }
}

@-webkit-keyframes imagechange {
    0% {
        background-image: url("images/mobile/ours.jpg");
    }
    50% {
        background-image: url("images/mobile/abeilles.jpg");
    }
    100% {
        background-image: url("images/mobile/ours.jpg");
    }
}


.imageCult2 {
    width: 100%;
    height: 20rem;
    border-radius: 5%;
    background-repeat: no-repeat;
    object-fit: scale-down;
    animation-name: imagechange2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-animation-name: imagechange2;
    -webkit-animation-duration: 10s;

}
    
@keyframes imagechange2 {
    0% {
        background-image: url("images/mobile/dechets2.jpg");
    }
    30% {
        background-image: url("images/mobile/dechets3.jpg");
    }
    60% {
        background-image: url("images/mobile/dechets2.jpg");
    }
    100% {
        background-image: url("images/mobile/dechets3.jpg");
    }
}

        

 .imageCult3 {
        width: 100%;
        height: 20rem;
        border-radius: 5%;
        background-repeat: no-repeat;
        object-fit: scale-down;
        animation-name: imagechange3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-animation-name: imagechange3;
        -webkit-animation-duration: 10s;
 }


@keyframes imagechange3 {
    0% {
        background-image: url("images/mobile/pexels-krivec-ales-552770.jpg");
    }
    30% {
        background-image: url("images/mobile/pexels-krivec-ales-580151.jpg");
    }
    60% {
        background-image: url("images/mobile/pexels-krivec-ales-552770.jpg");
    }
    100% {
        background-image: url("images/mobile/pexels-krivec-ales-580151.jpg");
    }
}